<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
    <title>hello</title>
  </head>
  <body>
    <form method="post" action="/">
      <textarea
        name="body"
        cols="40"
        rows="1"
        placeholder="入力して"
      ></textarea>
      <input type="submit" />
    </form>
    <div>
      <ul>
        {% for memo in memo_list %}
        <li>{{memo}}</li>
        {% end %}
      </ul>
    </div>
  </body>
</html>
