<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
    <title>hello</title>
  </head>
  <body>
    <form method="post" action="/">
      <textarea
        name="body"
        cols="40"
        rows="1"
        placeholder="入力して"
      ></textarea>
      <input type="submit" />
    </form>
    <div>
      <table>
        {% for i,memo in enumerate(memo_list) %}
        <tr>
          <td>{{memo}}</td>
          <td>
            <form method="post" action="/delete" value="{{i}}">
              <button type="submit">削除</button>
            </form>
          </td>
        </tr>
        {% end %}
      </table>
    </div>
  </body>
</html>
